@media only screen and (max-width: 600px){
  .button{
    flex-direction: column-reverse;
    #new-quote{
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 600px) {
  #quote-box { 
    width: 80%;
  }
}

.App {
  text-align: center;

  #quote-box {
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    color: #282c34;
    max-width: 500px;
    
    #text{
      margin-bottom: 10px;
      font-weight: bold;
      #quote-symbol{
        margin-right: 10px;
      }
    }

    #author{
      margin-top: 0;
      text-align: end;
      font-size: 20px;
    }
    
    .button{
      display: flex;
      justify-content: space-between;
      min-height: 50px;
      
      #tweet-quote{
        display: flex;
        padding: 10px;
        color: #ffffff;
        background-color: #282c34;
        border-radius: 10px;
        max-width: 50px;
        height: 100%;
        align-self: center;
        justify-content: center;
      }
    
      #new-quote{
        display: inline-block;
        border-radius: 10px;
        padding: 10px;
        border: none;
        color: white;
        background-color: #282c34;
        cursor: pointer;
        font-size: 16px;
      }
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}




